*{
    padding: 10px;
    margin: 0;
    text-decoration: none;
    }
    body{
        font-family: Arial, sans-serif;
        background-color: rgb(18, 44, 126);
    }
    .main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.30), rgba(0,0,0,0.30)),url("makanan-sehat.jpg");
    background-size: cover;
    background-position: center;
    }
    .logo {
    font-size: 36 px;
    color: white;
    font-weight: bold;
    width: 120px;
    cursor: pointer;
    }
    ul {
    list-style: none;
    background: #22438C;
    }
    .menu{
        list-style-type: none;
        display: flex;
    }
    .menu li{
        margin:0 1rem;
    }
    .menu li a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        transition:color 0.3s linear ;
    }
    .menu li a:hover{
        color: rgb(158, 241, 247);
    }
    .menu ul li a{
        background-color: rgb(202, 208, 230);
        margin: 0px;
    }
    nav ul{
        list-style: none;
    
    }
    nav ul ul{
        display: none;
        position: absolute;
    }
    nav ul li:hover > ul{
        display: block;
    }
    nav ul ul li {
        width: 250px;
        float: none;
        display: list-item;
        position: relative;
    }
    .content {
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    transform: translateY(-50%);
    }
    .content h1 {
    font-size: 80px;
    margin-top: 80px;
    }
    .content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    }