form input[type="text"],
form input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 22px);
}

form button {
    background-color: #4682b4; /* SteelBlue */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}