body {
    background-color: #f0f8ff; /* AliceBlue */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #ffffff; /* White */
    border: 1px solid #c0c0c0; /* Light Gray */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

.container h2 {
    color: #4682b4; /* SteelBlue */
    text-align: center;
}

.container-form {
    margin-top: 20px;
}

.container-form table {
    margin: auto;
}

.container-form table td {
    padding: 5px;
}

.hover-btn {
    background-color: #4682b4; /* SteelBlue */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hover-btn:hover {
    background-color: #4169e1; /* RoyalBlue */
}

.cancel-btn {
    background-color: #f44336; /* Red */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cancel-btn:hover {
    background-color: #d32f2f; /* Dark Red */
}
