body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(
    90deg,
    rgb(148, 196, 245) 0%,
    rgb(233, 183, 196) 100%
  );
}

.container {
  max-width: 100px;
  margin: 0 auto;
  padding: 0px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
  max-width: 400px;
  margin: 0 auto;
}

form input[type="text"],
form input[type="password"],
form button {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-weight: bold;
}

form button {
  width: 100%;
  cursor: pointer;
  font-family: monospace;
  font-weight: bolder;
  color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}
a {
  color: #353aa2;
  align-content: center;
  cursor: pointer;
}

.navigation {
  text-align: center;
  margin-top: 20px;
}
.end {
  padding-top: 10px;
}
