* {
  padding: 0;
  margin: 0;
}

nav.navbarok {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: #007acc;
  position: fixed;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  position: relative;
}

.dropdown {
  display: inline;
  font-size: 10px;
}

ul li a {
  display: block;
  padding: 20px 30px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

ul li ul.dropdown li {
  display: block;
  width: 100%;
}
ul li ul.dropdown {
  width: 100%;
  background-color: #000000;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li a:hover {
  background: #003d66;
}

ul li:hover ul.dropdown {
  display: block;
}

.gedung img {
  display: inline-block;
  width: 100%;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.footer {
  background-color: #007acc;
  color: white;
  padding: 1.5rem;
  font-size: 1.2rem;
  text-align: center;
  margin-top: auto;
}
