body {
    font-family: Arial, sans-serif;
    background-color: blanchedalmond;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.calculator {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.history {
    overflow-x: auto;
}

.history table {
    width: 100%;
    border-collapse: collapse;
}

.history th, .history td {
    padding: 8px;
    text-align: center;
}

.history th {
    background-color: #007bff;
    color: #fff;
}

.history tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
