body {
    background-color: rgb(133, 0, 0)
}

.card {
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    color: white;
    background-color: rgb(2, 2, 110);
}

.card-body {
    padding: 10px;
    border-radius: 20px;
}

