body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

form {
  margin: 20px;
}

input[type='text'] {
  margin: 5px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  text-align: left;
}

.navbar {
  background-color: #007bff;
  padding: 10px 0;
  text-align: center;
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar ul li {
  display: inline-block;
  margin-right: 20px;
}
.navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
