* {
  font-family: "poppins", sans-serif;
}
.utama {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  border-radius: 20px;
  background-color: #06c449;
  position: absolute;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  /* text-decoration: none; */
  justify-content: space-between;
}

nav ul li {
  margin-right: 20px;
}

.kedua {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.container {
  background: #06c449;
  border-style: solid;
  border-width: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
