*{
    padding: 0;
    margin: 0;
}
/* background navigasi  */
ul {
    list-style: none;
    background: hwb(203 84% 3%);
}
/* tampilan navigasi vertikal */
ul li {
    display: inline-block;
    position: relative;
}
/* isi navigasi */
ul li a {
    display: block;
    padding: 20px 25px;
    /* font color */
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

/* dropdown */
ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    position: absolute;
    /* pop up display dropdown */
    display: none;
}
/* background dropdown */
ul li a:hover {
    background: hwb(189 82% 2%);
}
/* pop up dropdown */
ul li:hover ul.dropdown {
    display: block;
}
