* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* home.html */

div.home h1 {
  text-align: center;
  margin-top: 20px;
}

div.home hr {
  width: 600px;
  margin-left: 420px;
}
table {
  align-items: center;
}

/* navbar  */
nav.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

nav.container a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
}

/* Data html */

/* table {
  border-collapse: collapse;
  text-align: center;
} */

th,
td {
  padding: 10px;
  border: 1px solid black;
  margin-top: 20px;
}

tr,
td {
  margin-top: 10px;
}

/* Form html */
div.form-group {
  margin-bottom: 9px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  outline: none;
}
