* {
    font-family: 'Poppins' sans-serif;
  }
  
  .container {
    background-color: aqua;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
  
    color: #000000;
  }
  
  .container h1 {
    text-align: center;
    display: inline-block;
    position: relative;
  }
  
  .container button {
    margin-left: 600px;
  }
  
  