* {
  color: white;
  font-family: "Poppins";
}
body {
  height: auto;
  overflow-x: hidden;
  width: 100%;
}

.bg-img {
  height: 80vh;
  width: 100vw;
  min-height: 60vh;
  min-width: 60vw;
  object-fit: cover;
  filter: brightness(0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
}
.card img {
  transition: ease 0.5s;
}

.card img:hover {
  transform: translateY(-10px);
}
