.navbar {
  background-color: #333;
  overflow: hidden;
  justify-content: space-between;
}
.home {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 16px;
}
.dropbtn {
  background-color: #333;
  color: white;
  padding: 14px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} 
.dropdown-content a:hover{
  background-color: aqua;
}

.dropdown:hover .dropdown-content{
  display: block;
  background-color: yellow;
  cursor: pointer;
}
.dropdown {
  float: left;
} 

.body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw; 
}
.title {
  font-size: 30px;
  font-weight: 600;
  color: rgb(8, 6, 133);
  letter-spacing: 1px;
  margin: 30px 0;
}

.todo-list {
  width: 450px;
  padding: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
  justify-content: center;
}

.list-head {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
}

.entered-list { 
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.add-list {
  border: none;
  border-radius: 5px;
  background-color: rgb(8, 6, 133);
  outline: none;
  color: #fff;
  cursor: pointer;
  opacity: 0.6;
  position-events: none;  
}

.add-list.active {
 opacity: 1;
 position-events: all; 
}

.tasks {
  width: 100%;
  margin-top: 30px;
}

.item {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item p {
  font-size: 16px;
  font-weight: 500;
  color: #111;
  letter-spacing: 1px;
}
.item.completed p{
  text-decoration: line-through;
  color:#111111180;
}
.item-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-btn i {
  color: rgb(8, 6, 133);
  font-size: 18px;
  cursor: pointer;
}
