.navbar {
    background-color: #008B8B;
    overflow: hidden;
    justify-content: space-between;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
  }
  .navbar a:hover{
    background-color: #776868;
    border-radius: 3px;
  }
  .home {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16px;
  }
  .dropbtn {
    background-color: #008B8B;
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    border-radius: 10px;
  }
  .dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  } 
  .dropdown-content a:hover{
    background-color: rgb(173, 199, 199);
    border-radius: 10px;
  }
  .dropdown:hover .dropdown-content{
    display: block;
    background-color: rgb(252, 252, 251);
    cursor: pointer;
  }
  .dropdown {
    float: left;
  } 
  *,
  *:before,
  *:after{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
  body{
      height: 100vh;
      background: linear-gradient(
          135deg,
          #00FFFF,
          #d161ff
      );
  }
  .container{
      width: 40%;
      min-width: 450px;
      position: center;
      margin: auto;
      left: 0;
      right: 0;
      top: 30px;
      padding: 30px 40px;
      padding-top: 150px;
  }
  .container h2{
    padding-bottom: 15px;
  }
  /* bagian box, ngatur shdow dll */
  #newtask{
      position: relative;
      background-color: #ffffff;
      padding: 30px 20px;
      border-radius: 10px;
      box-shadow: 0 15px 30px rgba(0,0,0,0.3);
  }
  #newtask input{
      width: 70%;
      width: 70%;
      height: 45px;
      font-family: 'Poppins',sans-serif;
      font-size: 15px;
      border: 2px solid #d1d3d4;
      padding: 12px;
      color: #111111;
      font-weight: 500;
      position: relative;
      border-radius: 5px;
  }
  #newtask input:focus{
      outline: none;
      border-color: #8052ec;
  }
  #newtask button{
      position: relative;
      float: right;
      width: 20%;
      height: 45px;
      border-radius: 5px;
      background-color: #8052ec;
      border: none;
      color: #ffffff;
      cursor: pointer;
      outline: none;
  }
  .task{
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 15px 30px rgba(0,0,0,0.3);
      width: 100%;
      position: relative;
      height: 50px;
      padding: 5px 10px;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid #d1d3d4;
      cursor: pointer;
  }
  .task span{
      font-family: 'Poppins',sans-serif;
      font-size: 15px;
      font-weight: 400;
  }
  .task button{
      background-color: #8052ec;
      color: #ffffff;
      height: 100%;
      width: 40px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      outline: none;
  }
  .edit{
    margin-left: auto;
  }
  .completed {
    text-decoration: line-through; /* Garis melintang pada teks */
    color: #999; /* Warna teks abu-abu */
}
