*{
    box-sizing: border-box
}
body{
    margin: 0;
}
.navbar{
    background-color: none;
    height: 50px;
}
.navigasi{
    color: #ebece2;
    padding-top: 10px;
    padding-left:10px;
    background-image: url(bunga.jpg);
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(70, 61, 49);
}
li{
    float: left;
}
li a, .dropbtn{
    display: inline-block;
    color: rgb(231, 237, 243);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn{
    background-color: rgba(172, 158, 117, 0.288);
}
li.dropdown{
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #95a347;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: #ebece2;
}
.dropdown:hover .dropdown-content{
    display: block;
    
}
.banner{
    background-color: #a0a388;
    height: 300px;
    text-align: center;
    margin-top: 0;
}
.banner h1{
    margin-top: 0;
    padding-top: 30px;
    font-size: 40px;
}
.banner p{
    margin-top: 50px;
}
.banner button{
    margin-top: 10px;
    padding: 10px;
    width: 200px;
    border-radius: 50px;
    border: none;
}
.banner button:hover{
    background-color: #64664f;
    border: 1px solid white;
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
    background-color: #ebece2;
}
aside h1{
    display: inline-block;
    color: #000;
}
aside p{
    margin-top: none;
    text-align: justify;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
    border: #000;
}
section h2{
    display: inline-block;
    color: black;
    margin-top: 10px;
}
section img{
    height: 150px;
    width: 100%;
}
section p{
    text-align: justify;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
    height: 100%;
}
article h2{
    display: inline-block;
    color: #000;
}
article p{
    text-align: justify;
}
footer{
    display: block;
    clear: both;
    background-color: rgb(185, 135, 70);
    text-align: center;
    padding: 0px;
}
footer h2{
    padding-top: 15px;
}
footer p{
    padding-bottom: 15px;
}
@media screen and (max-width:100px) {
    aside, section, article{
    width: 100%;
    }    
}
.lagi{
    float: left;
}
.kolab img{
    height: 250px;
    width: auto;
    margin-top: 50px;
}
.teks h1{
    text-align: center;
    font-size: 20px;
}
.teks p{
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}