.login {
    box-sizing: border-box;
    /* position: absolute; */
    margin-top: 50px;
    width: 791px;
    height: 450px;
    left: 564px;
    top: 887px;

    background: #F8F8F8;
    box-shadow: 0px 4px 32px 8px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
}

h1{
    /* position: absolute; */
    width: 231px;
    height: 84px;
    left: 845px;
    top: 253px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 69px;
    line-height: 84px;

    color: #0c0c0c;
}

p{
    width: 406px;
    height: 37px;
    left: 757px;
    top: 337px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */


    color: #686868;
}

input{
    box-sizing: border-box;

    width: 677px;
    height: 40px;
    left: 621px;
    top: 418px;

    margin-top: 20px;
    background: #FFFFFF;
    border: 2px solid #9D9FA2;
    border-radius: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
}

a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-decoration: none;
    color: #302e2e;
}

button{
    box-sizing: border-box;
    width: 677px;
    height: 50px;
    left: 621px;
    top: 679px;

    background: #fc0425;
    border-radius: 31px;

    font-family:  'Montserrat' ;
    font-weight: 700;
    border: none;
    color: #F8F8F8;
}