body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.navbar {
  background-color: #007bff;
  padding: 10px;
  text-align: center;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Menampilkan item menu secara horizontal */
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.content {
  padding: 20px;
}

/* Styles for the form */
form {
  margin: 20px;
}

input[type='text'] {
  margin: 5px 0;
}

/* Styles for the table */
table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  text-align: left;
}
