body {
    font-family: Arial, sans-serif;
    background-color: rgb(13, 0, 58);
    color: white;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: rgb(216, 98, 98);
  }
  
  h2 {
    text-align: center;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff5858;
    border: none;
    border-radius: 7px;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .task-item {
    margin-bottom: 5px;
  }
  
  .task-item span {
    cursor: pointer;
  }
  
  .task-item.completed span {
    text-decoration: line-through;
    color: #000000;
  }
  