 * {
    box
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* body {
    background: white;
    background: whitesmoke;
  }
  
  .logo {
    height: 40px; 
    margin-right: 10px; 
    float: left;
}
  
  h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  .coloms {
    width: 40%; 
    float: right; 
    margin-top: 0px; 
}

  ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background: white
  }
  li {
    float: left;
  }
  li a{
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover, .dropdown:hover{
    background-color: white;
    
  }
  li.dropdown{
    display: inline-block;
  }
  .dropdown-content{
    display: none;
    position: absolute;
    background-color: blue;
    min-width: 160px;
    z-index: 1;
  }
  .dropdown-content a{
    color: black;
    display: block;
  }
  .dropdown-content a:hover{
    background-color: white;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .sidebar {
    float: left;
    width: 33%;
    padding: 15px;
  }
  
  .gambar {
    float: left;
    margin-right: 15px;
    max-width: 400px; 
    height: auto; 
    display: block; 
    margin: auto; 
  }
 
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(238,174,202);
    text-align: center;
    padding: 10px;
    font-size: 10px;
  } */